.about-wrapper {
    .about {
        height: 1400px;
        background: transparent linear-gradient(113deg, rgb(231, 148, 23) 0%, rgb(240, 215, 115) 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-left: 6vh;
        padding-right: 6vh;
        color: $white;
        padding-top: .32em;
        #about-title {
            font-size: 5.25rem;
            font-weight: bold;
            line-height: 1em;
            padding: 0;
            margin-bottom: .52em;
            padding-left: 0 !important;
            max-width: 4em;
        }
        p {
            margin-top: .2em;
            font-size: 1.777rem;
            letter-spacing: .51px;
            font-weight: 300;
            margin: 0;
        }
    }
    .skills-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        .icons-skills {
            display: grid;
            grid-gap: 3em 2em;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            img {
                width: 100px;
                height: 100px;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 3.94rem;
            width: auto;
            margin: 1.27em 0 .5em 0;
            white-space: nowrap;
            &:last-child {
                margin-top: .1em !important;
            }
        }
        p {
            font-size: 2rem;
            margin: 0;
        }
    }
}