@import "typography";
@import "colors";
body,
html {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: $white;
    font-size: 16px;
}

#app {
    font-family: $poppins;
    font-weight: 400;
    color: $primary-color;
    overflow-x: hidden;
    //   NAVBAR SECTION
    nav {
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        margin-top: 1.125em;
        color: $secondary-color;
        background-color: transparent !important;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        padding-left: 6vh;
        padding-right: 6vh;
        .logo {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            &:hover {
                transition: 0.3s;
                color: $lighter-yellow;
                cursor: pointer;
            }
        }
        div {
            ul {
                display: flex;
                li {
                    float: right;
                    margin-left: 1.25em;
                    list-style-type: none;
                    font-size: 1.5rem;
                    &:hover {
                        transition: 0.3s;
                        color: $lighter-yellow;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    //   NAVBAR SECTION
    //==============
    //   MAIN SECTION
    .hero {
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        height: 920px;
        background: $primary-color;
        padding-left: 6vh;
        padding-right: 6vh;
        .main-title {
            color: $white;
            font-size: 7rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.34px;
            line-height: 1em;
            margin-top: 0.88em;
            margin-bottom: 0;
            padding-top: 6vh;
            max-width: 60%;
            padding-left: 0 !important;
            &:after {
                display: inline-block;
                content: " ";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg fill='%23ffb037' stroke='%23707070' stroke-width='1'%3E%3Crect width='25' height='25' rx='5' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='24' height='24' rx='4.5' fill='none'/%3E%3C/g%3E%3C/svg%3E");
                background-size: 0.2em 0.2em;
                height: 0.2em;
                width: 0.2em;
            }
        }
        p {
            color: $white;
            text-transform: capitalize;
            height: 2.0625em;
            line-height: 2.0625em;
            font-size: 1.5em;
            margin-top: 0;
        }
        .button {
            height: 77px;
            width: 356px;
            background: transparent linear-gradient(99deg, #de8600 0%, #ffe268d6 100%) 0% 0% no-repeat padding-box;
            border-radius: 1em;
            border: none;
            text-transform: uppercase;
            letter-spacing: 0;
            color: $dark-green;
            font-size: 1.5625em;
            font-weight: bold;
            margin-top: 5.05em;
            // margin-top: 16vh;
            border: none;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
                color: $white;
                background: $dark-green;
                transition: 0.5s ease-in;
            }
        }
        .image {
            position: absolute;
            left: 38%;
            top: 15%;
            background-image: url("/img/background_image.png");
            width: 100%;
            height: 800px;
            opacity: 27%;
        }
    }
    //   MAIN SECTION
    ///==============
    //   PROJECTS SECTION
    div {
        h1 {
            font-size: 5.25em;
            text-transform: capitalize;
            padding-left: 6vh;
            padding-right: 6vh;
            margin-top: 1.45em;
            margin-bottom: 1.87em;
        }
        .project-section {
            overflow-x: hidden;
            overflow-y: hidden;
            background: $white;
            margin: 0;
            width: 100%;
            padding-bottom: 6.8em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 32px 10px;
            grid-template-areas: "project1 ." ". project2";
            .project1 {
                grid-area: project1;
            }
            .project2 {
                grid-area: project2;
            }
            .project-box {
                max-width: 100%;
                text-align: center;
                padding-left: 6vh;
                padding-right: 6vh;
                .project-wrapper {
                    div {
                        width: 100%;
                        height: 30em;
                    }
                    div .portfolio-image {
                        position: relative;
                        background-image: url("/img/web-design.jpg");
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                        display: block;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: $primary-color;
                        div {
                            display: flex;
                            width: 100%;
                            justify-content: flex-end;
                            align-items: flex-end;
                            position: absolute;
                            bottom: 1em;
                            right: 1em;
                            transition: all 300ms ease;
                            a {
                                img {
                                    width: 3em;
                                    height: 3em;
                                    margin-left: 1em;
                                    opacity: 65%;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                }
                            }
                        }
                    }
                    div .portfolio-image2 {
                        position: relative;
                        background-image: url("/img/project2.jpg");
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                        display: block;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: $primary-color;
                        div {
                            display: flex;
                            width: 100%;
                            justify-content: flex-end;
                            align-items: flex-end;
                            position: absolute;
                            bottom: 1em;
                            right: 1em;
                            transition: all 300ms ease;
                            a {
                                img {
                                    width: 3em;
                                    height: 3em;
                                    margin-left: 1em;
                                    fill: currentColor;
                                    color: $white;
                                    opacity: 65%;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            h3 {
                font-size: 1.88rem;
                font-weight: 500;
                margin: .5em 0 0 0;
                color: $primary-color;
                opacity: 65%;
                transition: all 300ms ease;
                &:hover {
                    opacity: 100%;
                }
            }
            h5 {
                font-size: 1.5rem;
                font-weight: 300;
                margin: .5em 0 2em 0;
                color: $primary-color;
                opacity: 65%;
                transition: all 300ms ease;
                &:hover {
                    opacity: 100%;
                }
            }
        }
    }
}

//   PROJECTS SECTION
//==============
//   ABOUT SECTION 
.about-wrapper {
    overflow-y: hidden;
    .about {
        height: 1400px;
        background: transparent linear-gradient(113deg, rgb(231, 148, 23) 0%, rgb(240, 215, 115) 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-left: 6vh;
        padding-right: 6vh;
        color: $white;
        padding-top: .32em;
        #about-title {
            font-size: 5.25rem;
            font-weight: bold;
            line-height: 1em;
            padding: 0;
            margin-bottom: .52em;
            padding-left: 0 !important;
            max-width: 4em;
        }
        p {
            margin-top: .2em;
            font-size: 1.777rem;
            letter-spacing: .51px;
            font-weight: 300;
            margin: 0;
        }
    }
    .skills-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        .icons-skills {
            display: grid;
            grid-gap: 3em 2em;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            img {
                width: 100px;
                height: 100px;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 3.94rem;
            width: auto;
            margin: 1.27em 0 .5em 0;
            white-space: nowrap;
            &:last-child {
                margin-top: .1em !important;
            }
        }
        p {
            font-size: 2rem;
            margin: 0;
        }
    }
}

//   ABOUT SECTION
//==============
//   CONTACT SECTION 
.contact-section {
    padding-left: 6vh;
    padding-right: 6vh;
    height: 1000px;
    background: $primary-color;
    overflow-y: hidden;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    #contact-title {
        color: $white;
        margin: 2.38em 0 0 0;
        padding: 0;
    }
    #get-in-touch-text {
        color: $secondary-color;
        font-size: 4em;
        font-weight: 300;
        letter-spacing: 3.22px;
        text-align: left;
        text-transform: uppercase;
        margin: 3.4em 0 0 0;
        padding: 0;
        line-height: 1.2em;
    }
}

form {
    margin: 2em 0;
    color: $white;
    width: 70%;
}


/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}


/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/

label,
input,
textarea {
    transition: all 0.2s;
    touch-action: manipulation;
}

input,
textarea {
    font-size: 1.5em;
    background: $primary-color;
    color: $white;
    border: 0;
    border-bottom: 1px solid $white;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus,
textarea:focus {
    outline: 0;
    border-bottom: 1px solid $white;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/

input:placeholder-shown+label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

textarea:placeholder-shown+label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

input::placeholder {
    color: $gray;
}


/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

::-webkit-textarea-placeholder {
    opacity: 0;
    transition: inherit;
}


/**
* Show the placeholder when the input is focused.
*/

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

input:focus::-webkit-textarea-placeholder {
    opacity: 1;
}


/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/

input:not(:placeholder-shown)+label,
input:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

textarea:not(:placeholder-shown)+label,
textarea:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

//   CONTACT SECTION
//==============
//   FOOTER
.footer-wrapper {
    background: $primary-color;
    h5 {
        margin: 0;
        padding: 0;
        color: $white;
        font-weight: 400;
        font-size: 1.5em;
        text-align: center;
    }
    img {
        width: 50px;
        height: 50px;
        right: 0;
    }
}